.icon-import-lead {
    background-image: url("../images/import.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 15px;
    height: 18px;
}

.icon-report-update {
    background-image: url("../images/update_report.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 15px;
    height: 18px;
}