<li class="button-input__context-menu__item  element__import_lead " id="button_import_logic">
    <div class="button-input__context-menu__item__inner">
        <span class="button-input__context-menu__item__icon icon-import-lead"></span>
        <span class="button-input__context-menu__item__text ">{{ i18n('widget.button') }}</span>
    </div>
</li>
